# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/

# Environment files
.env

# Editor/IDE settings
.vscode/
.idea/

# macOS system files
.DS_Store
Icon?

# Windows system files
Thumbs.db

# Logs and temporary files
*.log

# Testing artifacts
.pytest_cache/
coverage.*
*.coverprofile
*.out
profile.cov

# Jupyter Notebook checkpoints (if using .ipynb)
.ipynb_checkpoints/


key.key
passwords.txt
